<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mio.afterschoolservice.mapper.FriendMapper">
    <insert id="addFriend">
        insert into friend (owner_id,owner_name,owner_avatar,f_id,f_name,f_avatar,create_time,update_time)
            values(#{fromUser},#{fromName},#{fromAvatar},#{toUser},#{toName},#{toAvatar},now(),now());
        insert into friend (owner_id,owner_name,owner_avatar,f_id,f_name,f_avatar,create_time,update_time)
            values(#{toUser},#{toName},#{toAvatar},#{fromUser},#{fromName},#{fromAvatar},now(),now());
    </insert>
    <delete id="deleteFriend">
        delete from friend where (owner_id=#{ownerId} and f_id=#{fid}) or (owner_id=#{fid} and f_id=#{ownerId});
    </delete>
    <select id="getList" resultType="com.mio.afterschoolservice.pojo.Friend">
        select * from friend where owner_id=#{id};
    </select>
    <select id="find" resultType="com.mio.afterschoolservice.pojo.Friend">
        select * from friend where owner_id=#{fromUser} and f_id=#{toUser};
    </select>

</mapper>