<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mio.afterschoolservice.mapper.ImsingleMapper">
    <insert id="add">
        insert into imsingle (content,fromuser,fromavatar,time,type,touser,toavatar,readed)
            values(#{content},#{fromuser},#{fromavatar},now(),#{type},#{touser},#{toavatar},1);
    </insert>
    <select id="getList" resultType="com.mio.afterschoolservice.pojo.Imsingle">
        select * from imsingle where (fromuser=#{fromuser} and touser=#{touser}) or (fromuser=#{touser} and touser=#{fromuser});
    </select>
    <insert id="insert">
        insert into imsingle (content,fromuser,fromavatar,time,type,touser,toavatar,readed)
            values(#{content},#{fromuser},#{fromavatar},now(),#{type},#{touser},#{toavatar},1);
    </insert>
    <select id="getUnreaded" resultType="com.mio.afterschoolservice.pojo.Imsingle">
        select fromuser,fromavatar,time,count(*) as count from imsingle where touser=#{touser} and readed=1 group by fromuser;
    </select>
    <update id="read">
        update imsingle set readed=0 where fromuser=#{touser} and touser=#{fromuser};
    </update>


</mapper>